body {
  max-height: 1000px;
  background-image: url(np.jpg);
  background-size: cover;
  /* background-color: brown; */
  /* padding: 50px; */
}
/* Newspaper*/
.newspaper {
  width: 900px;
  height: 1200px;
  background-color: #f5f2f8;
  margin: 30px;
  position: relative;
  top: 100px;
  left: 200px;
  border: inset 1px black;
  box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.411),
    15px 10px 25px rgba(0, 0, 0, 0.411);
}
/* Header Left */
.head_left > p {
  text-align: center;
  width: 150px;
  height: 30px;
  border: 2px solid black;
  padding: 15px;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* Newspaer Name */
.news_name > h1 {
  position: absolute;
  left: 255px;
  top: 3px;
  font-size: 60px;
  display: inline;
  letter-spacing: -5px;
}
/* Header Right */
.head_right {
  text-align: center;
  width: 230px;
  height: 50px;
  float: right;
  font-size: 12px;
  position: relative;
  top: 40px;
  right: 30px;
}
/* Volume */
.vol {
  position: relative;
  top: 70px;
  left: 30px;
}
table {
  /* border: 2px black solid; */
  border-width: 2px 0px;
  border-color: black;
  border-style: solid;
}
td {
  text-transform: uppercase;
}
/* Headline */
.headline > span {
  position: relative;
  top: 70px;
  left: 40px;
  font-size: 100px;
  font-family: "Anton", sans-serif;
  text-align: center;
  padding: 0px 40px;
}
hr {
  width: 850px;
  height: 1px;
  background-color: black;
  position: relative;
  top: 45px;
}
/*content */
.content {
  width: 500px;
}
.subtitle {
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 20px;
  letter-spacing: -1px;
}
.car {
  position: relative;
  top: 30px;
  left: 30px;
}
#story {
  position: relative;
  left: 30px;
}
.info {
  position: relative;
  bottom: 20px;
  left: 30px;
  border-width: 1px 0px;
  border-color: black;
  border-style: solid;
  width: 550px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}
.details {
  position: relative;
  bottom: 12px;
  left: 30px;
  width: 550px;
  column-width: 220px;
  column-count: 2;
  column-gap: 12px;
  font-size: 12px;
  text-align: justify;
}
/* Adverstiment*/
.ad {
  position: relative;
  left: 30px;
  border: 1px solid black;
  width: 840px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
/* Content-Right */
.content_2 {
  width: 250px;
  float: right;
  position: relative;
  bottom: 835px;
  right: 30px;
}
.info_2 {
  position: relative;
  bottom: 15px;
  border-width: 1px 0px;
  border-color: black;
  border-style: solid;
  width: 250px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}
.details_2 {
  text-align: justify;
  font-size: 12px;
}
/* Duplicates */
.newspaper_1 {
  width: 900px;
  height: 1200px;
  background-image: url(ns.png);
  background-size: contain;
  position: relative;
  bottom: 1132px;
  left: 233px;
  border: inset 1px black;
  z-index: -1;
  transform: rotate(2deg);
}
.newspaper_2 {
  width: 900px;
  height: 1200px;
  background-image: url(ns.png);
  background-size: contain;
  position: relative;
  bottom: 2333px;
  left: 235px;
  z-index: -2;
  border: inset 1px black;
  transform: rotate(4deg);
  box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.411),
    15px 10px 25px rgba(0, 0, 0, 0.411);
}
